.selected
  background: cadetblue !important
.cell_black
  background: black
  color: white
.cell_white
  background: white
  color: black
.cell
  width: 64px
  height: 64px
  display: flex
  justify-content: center
  align-items: center
  img
    width: 40px
    height: 40px